*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background-color: #303030;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

@media screen and (min-width: 1000px) {
	.container {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

.header, .footer {
	margin: 20px;
	text-align: center;
	clear: both;
}

@media screen and (min-width: 1000px) {
	.header, .footer {
		width: 960px;
	}
}

.logo {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
	margin: 0;
}

.logo__link {
	color: #fff;
	text-decoration: none;
}

.timer {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
}

@media screen and (min-width: 1000px) {
	.logo {
		float: left;
		width: 600px;
	}

	.timer {
		float: left;
	}
}

@media screen and (min-width: 1000px) {
	.column {
		width: 50%;
		float: left;
	}
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tile {
	margin: 0;
}

.tile__link {
	margin: 10px;
	background-color: #3095d3;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
	padding-bottom: 20px;
}

@media screen and (min-width: 1000px) {
	.tile__link {
		width: 230px;
		height: 142px;
		float: left;
		text-align: center;
		padding: 0;
	}
}

.tile__link:hover, .tile__link:focus {
	background-color: #2084c2;
}

.tile_secondary .tile__link {
	background-color: #666;
}

.tile_secondary .tile__link:hover, .tile_secondary .tile__link:focus {
	background-color: #555;
}

.tile_tertiary .tile__link {
	background-color: #93c748;
}

.tile_tertiary .tile__link:hover, .tile_tertiary .tile__link:focus {
	background-color: #82b637;
}

.tile_full-width {
	margin: 10px;
	background-color: #ee5a32;
	font-size: 26px;
	padding: 30px;
	line-height: 150%;
}

@media screen and (min-width: 1000px) {
	.tile_full-width {
		height: 142px;
	}
}

.tile__icon {
	display: block;
}

.quote__text {
	font-style: italic;
	margin: 0;
}

.quote__source {
	font-style: normal
}

.quote__source::before {
	content: '– ';
}

.main {
	margin: 10px;
	background-color: #666;
	text-align: justify;
	padding: 30px;
}

@media screen and (min-width: 1000px) {
	.main {
		height: 304px;
	}
}

.main__title {
	margin: 0;
	font-size: 1em;
}

.social__link {
	margin: 10px;
	background-color: #d94348;
	color: #fff;
	text-decoration: none;
	display: block;
	padding-bottom: 20px;
	text-align: center;
}

@media screen and (min-width: 1000px) {
	.social__link {
		width: 105px;
		height: 142px;
		float: left;
		padding: 0;
	}
}

.social_youtube .social__link:hover, .social_youtube .social__link:focus {
	background-color: #c83237;
}

.social_facebook .social__link {
	background-color: #4668b3;
}

.social_facebook .social__link:hover, .social_facebook .social__link:focus {
	background-color: #3557a2;
}

.social_gplus .social__link {
	background-color: #d95333;
}

.social_gplus .social__link:hover, .social_gplus .social__link:focus {
	background-color: #c84222;
}

.social_twitter .social__link {
	background-color: #3095d3;
}

.social_twitter .social__link:hover, .social_twitter .social__link:focus {
	background-color: #2084c2;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
